html {
  overflow-x: hidden;
}

body {
  background: #e68019;
  font-family: Inter;
  font-size: 20px;
  width: device-width;
  overflow-x: hidden;
}

#mainbutton {
  border: none;
  background-color: inherit;
  text-align: center;
  text-size-adjust: auto;
  color: #e3e3b0;
  font-family: Inter;
  font-size: 37px;
  cursor: pointer;
  display: inline-block;
  left: -10%;
  position: relative;
  white-space: nowrap;
}

.submenu {
  font-size: 21px;
  text-size-adjust: auto;
  display: inline-block;
  text-align: center;
  position: relative;
  margin-top: 5px;
}

.indexsubmenu {
  font-size: 21px;
  text-size-adjust: auto;
  display: inline-block;
  text-align: center;
  margin-top: 5px;
  position: relative;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
}

/*projects*/

.projectul {
  display: block;
  text-align: left;
  font-weight: normal;
  color: #e3e3b0;
  font-size: 32px;
  font-family: Inter;
  margin-top: 21px;
  margin-bottom: 43px;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
}
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/*contact*/

.fa {
  font-family: Inter;
  padding-bottom: 20px;
  width: 50px;
  height: 15px;
  margin-top: 28px;
  margin-bottom: 20px;
  padding-bottom: 51px;
  margin-left: 5%;
  padding: 0px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #e3e3b0;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
}
.fa:hover {
  color: #f2f3f4;
}

/*80s*/

  .tiktok-embed {
  max-width: 380px;
  min-width: 258px;
  max-height: 185px;
  margin-top: 29px;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 9px;
  left: -10px;
}
#aroundtheworldtext {
  color: #e3e3b0;
  font-family: Inter;
  font-size: 17px;
  text-decoration: underline;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  display: inline-block;
  margin: auto;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
}

#aroundtheworldsubtext {
  color: #e3e3b0;
  font-family: Inter;
  font-size: 15px;
  text-align: justify;
  letter-spacing: 0.5px;
  line-height: 1.6;
  margin-top: 18px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
}

/*blog*/

#dummy {
}

.blognav {
}

.sticky {
}

label {
  display: none;
}

div.dropdown {
  display: none;
}

.dropdown:hover {

.title {
  display: inline-block;
  position: relative;
  text-decoration: underline;
  font-size: 21px;
  font-weight: normal;
  text-align: left;
  color: #e3e3b0;
  top: 30%;
  margin-bottom: 3px;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
}

.post {
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
  display: inline-block;
  position: relative;
  font-weight: normal;
  font-size: 16px;
  text-align: justify;
  margin-top: -16px;
  margin: auto;
  color: #e3e3b0;
  line-height: 1.7;
}

/*footer*/

footer {
  color: #e3e3b0;
  background-color: #e68019;
  display: block;
  font-family: Inter;
  font-size: 12px;
  position: fixed;
  text-align: left;
  padding-top: -5px;
  width: device-width;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
}
