body {
  background: #e68019;
  padding: 25px;
  font-family: Inter;
  font-size: 20px;
}

#mainbutton {
  border: none;
  background-color: inherit;
  text-align: center;
  color: #e3e3b0;
  font-family: Inter;
  font-size: 32px;
  cursor: pointer;
  display: inline-block;
  left: -5px;
  position: relative;
  min-width: 100%;
  white-space: nowrap;
}

.submenu {
  font-size: 21px;
  display: inline-block;
  margin-right: -15px;
  text-align: center;
  position: relative;
  left: -5px;
  margin-top: 5px;
  min-width: 100% !important;
}

.indexsubmenu {
  font-size: 21px;
  display: inline-block;
  text-align: center;
  margin-right: -15px;
  margin-top: 5px;
  left: -5px;
  position: relative;
  min-width: 100% !important;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
}

/*projects*/

.projectul {
  display: block;
  left: -4px;
  text-align: left;
  font-weight: normal;
  color: #e3e3b0;
  font-size: 32px;
  font-family: Inter;
  margin-top: 21px;
  margin-bottom:43px;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
}
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/*contact*/

.fa {
  margin-top: 40px;
  transform: scale(0.5);
  word-spacing: -100px;
  margin-right: 0px !important;
  padding-right: -30px !important;
  letter-spacing: -100px;
  margin-bottom: 20px;
  padding-bottom: 0px;
  display: inline;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  color: #e3e3b0;
  min-width: 130% !important;
  white-space: nowrap;
  left: -200px !important;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
}
.fa:hover {
  color: #f2f3f4;
}

/*80s*/

  .tiktok-embed {
  max-width: 380px;
  min-width: 258px;
  max-height: 185px;
  margin-top: 29px;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 9px;
  left: -10px;
}
#aroundtheworldtext {
  color: #e3e3b0;
  font-family: Inter;
  font-size: 17px;
  text-decoration: underline;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  display: inline-block;
  margin: auto;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
}

#aroundtheworldsubtext {
  color: #e3e3b0;
  font-family: Inter;
  font-size: 15px;
  text-align: justify;
  letter-spacing: 0.5px;
  line-height: 1.6;
  margin-top: 18px;
  display: inline-block;
  min-width: 100% !important;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
}

/*blog*/

form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 60px;
  color: #e3e3b0;
  text-decoration: underline;
  font-size: 21px;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
}

select {
  margin-top: 8px;
  border: none;
  background-color: inherit;
  color: #e3e3b0;
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 12px;
}

.title {
  display: inline-block;
  position: relative;
  text-decoration: underline;
  font-size: 21px;
  font-weight: normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
  color: #e3e3b0;
  margin-top: -30px;
  margin-bottom: 3px;
  min-width: 100% !important;
  max-width: 100%;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
}

.post {
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
  display: inline-block;
  position: relative;
  font-weight: normal;
  font-size: 16px;
  text-align: justify;
  margin-top: -16px;
  margin: auto;
  color: #e3e3b0;
  max-width: 412px
  line-height: 1.7;
}

/*footer*/

footer {
  color: #e3e3b0;
  background-color: #e68019;
  display: block;
  font-family: Inter;
  font-size: 12px;
  position: fixed;
  text-align: center;
  min-width: 150% !important;
  max-width: 100%;
  left: -56%;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
}
