body {
  background: #e68019;
  padding: 25px;
  font-family: Inter;
  font-size: 20px;
}

button {
  border: none;
  background-color: inherit;
  color: #e3e3b0;
  font-family: Inter;
  font-size: 42px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

#mainbutton {
  left: -6px;
  min-width: 411px;
}

.submenu {
  font-size: 21px;
  display: inline;
  text-indent: 2px;
  width: 100%;
  display: inline;
  text-align: justify;
  position: relative;
  white-space: pre;
  min-width: 411px;
}

.indexsubmenu {
  font-size: 21px;
  display: inline;
  text-indent: 2px;
  position: relative;
  width: 100%;
  text-align: justify;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
  min-width: 411px;
}

/*projects*/

.projectul {
  display: block;
  text-align: left;
  font-weight: normal;
  color: #e3e3b0;
  font-size: 32px;
  font-family: Inter;
  margin-top: 28px;
  font-size: 21px;
  margin-bottom:43px;
  margin-left: -1px;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
  min-width: 700px;
}
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

#megaprojects {
   animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
}

.allprojects p {
  margin-top: -2.1em;
  margin-left: 8px;
  color: #e3e3b0;;
  font-size: 16px;
  font-family: Inter;
  text-align: justify;
  min-width: 383px !important;
  max-width: 500px;
  
}

/*contact*/

.fa {
  font-family: Inter;
  width: 411px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 2px;
  display: block;
  text-align: left;
  text-decoration: none;
  color: #e3e3b0;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
}
.fa:hover {
  color: #f2f3f4;
}

.contactul {
  color: #e3e3b0;
  margin-bottom: 51px;
  top: -137px;
  left: 36px;
  position: relative;
  list-style-type: none;
  font-size: 15px;
}

.fa fa-instagram:hover ~ #instatext{
  visibility: visible;
   animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
}

#instatext{
  visibility: hidden;
}

#fbtext{
  visibility: hidden;
}

#linkedintext{
  visibility: hidden;
}

#gmailtext{
  visibility: hidden;
}

/*80s*/

#aroundtheworldtext {
  color: #e3e3b0;
  font-family: Inter;
  font-size: 20.9px;
  text-decoration: underline;
  text-align: left;
  margin-left: 3px;
  margin-top: -1px;
  display: inline-block;
  letter-spacing: -0.1px;
  word-spacing: -0.1px;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
}

#aroundtheworldtext:hover {
  color: #f2f3f4;
}

#aroundtheworldsubtext {
  color: #e3e3b0;
  font-family: Inter;
  font-weight: normal;
  font-size: 15px;
  text-align: justify;
  line-height: 1.7;
  margin-left: 10px;
  margin-top: 5px;
  display: inline-block;
  max-width: 382px;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
}

/*blog*/

#dummy {
  height: 5.5px;
}

.blognav {
  padding-top: 0px;
  background-color: #e59443;
  width: 126.5px;
  padding-top: 5px;
  margin-top: 1px;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
}

.sticky {
  position: fixed;
  top: 17px;
}

label {
  margin-left: 8px;
  display: inline-block;
  margin-top: 0px;
  color: #e3e3b0;
  text-decoration: underline;
  position: static;
  font-size: 21px;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
}

div.dropdown {
  font-size: 15px;
  margin-top: 5px;
  display: block;
  text-align: left;
  left: 8.8px;
  color: #e3e3b0;
  font-family: Inter;
  cursor: pointer;
  position: relative;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
}

.dropdown:hover {
  color: #f2f3f4;
}

.title {
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
  font-family: Inter;
  display: block;
  position: relative;
  text-decoration: underline;
  font-size: 21px;
  margin-bottom: 20px;
  font-weight: normal;
  word-spacing: 2px;
  margin-left: 143px;
  color: #e3e3b0;
  margin-top: -76.5px;
}

.post {
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
  font-family: Inter;
  display: block;
  position: relative;
  font-weight: normal;
  font-size: 15px;
  margin-left: 143px;
  margin-top: -40px;
  margin-bottom: 24px;
  color: #e3e3b0;
  max-width: 540px;
  min-width: 248.5px;
  line-height: 1.7;
  text-align: justify;
}

/*footer*/

footer {
  color: #e3e3b0;
  background: linear-gradient(transparent, #e68019, #e68019);
  font-family: Inter;
  font-size: 12px;
  position: fixed;
  left: 39px;
  bottom: -12px;
  height: 35px;
  max-width: 100%;
  padding-top: 14px;
  padding-right: 100%;
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 0.8s;
  min-width: 600px;
}
